body{
    background-color: #6c5ce7;
}

/* Menu Center */
#colM {
    margin-top: 100px;
}
#New{
    color: white;
    margin-right: 50px;
}

#HOME{
    color: white;
    margin-left: 100px;
}

#Price{
    color: white;  
}

#New1{
    color: white;
}
/* End MenuCenter */

/* Menu Vertical */
#colV{
    margin-right: 500px;
}
.nav-link{
    color: white;
    margin-right: 0px;
}

/* End MenuVertical */
/* pic */
div.gallery {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
}
div.gallery:hover {
    border: 1px solid #777;
    
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}

/* end pic */
p{
    text-align: center;
    color: rgb(220, 20, 113);
}
a.class-test:hover{
    color: #ff0000;
    text-align: center;
    
}